# ===============================================
# ENVIRONMENT FILES
# =====================================
.venv/
.env

# ===============================================
# CACHE AND TEMPS FILES
# =====================================
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
